body{
    background-color: #000;
    color: rgb(255, 255, 255);
}
/* #heading{
    color: white;
    font-size: 100px;
    text-align: center;
}
span{
    display: none;
}
ul{
    color: aliceblue;
} */